<section>
  <div class="page-header">
    <h1>Systemparameters</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="systemparameter in vm.systemparameters"
       ui-sref="systemparameters.view({ systemparameterId: systemparameter._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="systemparameter.created | date:'mediumDate'"></span>
        by
        <span ng-if="systemparameter.user" ng-bind="systemparameter.user.displayName"></span>
        <span ng-if="!systemparameter.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="systemparameter.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.systemparameters.$resolved && !vm.systemparameters.length">
    No Systemparameters yet, why don't you <a ui-sref="systemparameters.create">create one</a>?
  </div>
</section>
