<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-6">
        <h1 ng-bind="vm.user.username"></h1>
      </div>     
      <div data-ng-if = "!vm.isContextUserSelf()">
          <md-button ng-click="vm.remove()" class="pull-right md-fab md-mini md-primary">
            <md-tooltip md-direction="down">
             Click To Delete
           </md-tooltip>
           <md-icon md-svg-icon="/modules/core/client/img/svg/ic_delete_white_24px.svg"></md-icon>
         </md-button>
        </div>
        <div>
            <md-button ui-sref="admin.user-edit({userId: vm.user._id})" class="pull-right md-fab md-mini md-primary">
             <md-tooltip md-direction="down">
               Click To Edit
             </md-tooltip>
             <md-icon md-svg-icon="/modules/core/client/img/svg/ic_edit_white_24px.svg"></md-icon>
           </md-button>
        </div> 

      <!-- <div class="col-md-4">
        <a class="btn btn-primary" ui-sref="admin.user-edit({userId: vm.user._id})">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" ng-click="vm.remove()" ng-if="!vm.isContextUserSelf()">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div> -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3"><strong>First Name</strong></div>
        <div class="col-md-6" ng-bind="vm.user.firstName"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Last Name</strong></div>
        <div class="col-md-6" ng-bind="vm.user.lastName"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Email</strong></div>
        <div class="col-md-6" ng-bind="vm.user.email"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Provider</strong></div>
        <div class="col-md-6" ng-bind="vm.user.provider"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Created</strong></div>
        <div class="col-md-6" ng-bind="vm.user.created"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Roles</strong></div>
        <div class="col-md-6" ng-bind="vm.user.roles"></div>
      </div>
    </div>
  </div>
</section>
