.content {
  margin-top: 50px;
}
.float-button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  bottom: 100px; /* Adjust to where you want it */
  font-size: 40px;
  padding: 10px;
  position: fixed;
  right: 70px; /* Adjust to where you want it */
  width: 20px;
  z-index: 9999;
}

/* Add Footer class of B-OM System -Akash(29/05/17) */
/*.footer {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
}*/
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  border-radius: 50%;
  height: 28px;
  margin-right: 5px;
  opacity: 0.8;
  width: 28px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-bottom: 11px !important;
  padding-top: 11px !important;
}
.user-primary-account {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}
/* padding-bottom*/
.padding {
  padding-bottom: 1.5cm;
}
/* TO remove Horizontal scroll in Systemparameter  in mobile screen */

.maintable {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  width: 100%;
}
.maintable caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
.maintable tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
.maintable th,table td {
  padding: .625em;
  text-align: justify;
}
.maintable th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
.maintable td:last-child {
  border-bottom: 0;
  text-align: left;
}
@media screen and (max-width: 600px) {
.maintable {
  border: 0;
}
.maintable caption {
  font-size: 1.3em;
}
.maintable thead {
  border: none;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.maintable th {
border-bottom: 0;
display: none;
font-size: .85em;
letter-spacing: .1em;
text-transform: uppercase;
}
.maintable tr {
  border-bottom: 3px solid #ddd;
  display: block;
  margin-bottom: .625em;
}
.maintable td {
  border-bottom: 1px solid #ddd;
  display: block;
  font-size: .85em;
  text-align: right;

}
.maintable td:before {
  /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
  content: attr(data-label);
  float: left;
  font-weight: bold;
  text-transform: uppercase;
}
.maintable td:last-child {
  border-bottom: 0;
  text-align: right;
}
.fontSize{
  font-size: 11px;
} 
}

/** FooterLogo **/
/*.footerLogo {
  opacity: 0.5;
}
.footerLogo:hover {
  opacity: 1;
}*/

/** Body background gray color change **/
body.md-default-theme, body, html.md-default-theme, html {
  background-color: #ffffff;
  color: #000000;
  color: rgba(0,0,0,0.87);
}

/*#foot {
 height: auto; 
 width:20%;
 float: left;
 position: relative;
}

@media only screen and (max-width: 414px) {
    #foot {
        height:auto; 
        width:100%;
       
    }
}
@media only screen and (max-width: 412px) {
    #foot {
        height:auto; 
        width:100%;
       
    }
}
@media only screen and (max-width: 384px) {
    #foot {
        height:auto; 
        width:100%;
       
    }
}
@media only screen and (max-width: 360px) {
    #foot {
        height:auto; 
        width:100%;
       
    }
}
@media only screen and (max-width: 320px) {
    #foot {
        height:auto; 
        width:100%;
       
    }
}*/
html {
height:100%;
position:relative;
width:100%;
}
body { display: flex; flex-direction: column; }
.content { flex: 1 }
.footer{
 /* background-color: rgba(0,0,0,0.87);
  display: inline-block;
  padding: 10px 0;
  width: 100%;
  position: absolute; 
  bottom: 0px;  
  margin-bottom: 0px!important;*/
  /*min-height: 100%;*/
  background-color: #323232;
  bottom: 0;
  left: 0;
  padding: 10px;
  position: relative;
  right: 0;
  
 /*height:50px;*/
  
  
}

.footerLogo {
  opacity: 0.7;
}
.footerLogo:hover {
   opacity: 1;
}
